#--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.13.0
torchvision
torchaudio
pytorch-lightning==1.7.*
numpy==1.23.*
kornia==0.6.*
imageio==2.21.*
einops==0.4.*
matplotlib==3.5.*
opencv-python==4.6.*
tqdm
pyyaml
